:root {
    --headingsize: 7vh;

    --canvas-width: 1615;
    --canvas-height: 920;
    --canvas-ratio: calc(var(--canvas-width) / var(--canvas-height));
    --viewport-width: 90vw;
    --canvas-scale: calc(var(--viewport-width) / var(--canvas-width));
}

/* Main Frame */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main_frame {
    height: calc(100vh - var(--headingsize));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.canvas {
    aspect-ratio: var(--canvas-width) / var(--canvas-height);
    margin: auto;
    background: teal;
    width: var(--viewport-width);
    max-width: 100%;
}

/* Shared Class for Elements A-E */
.element {
    position: absolute;
    width: calc(var(--width) * var(--canvas-scale));
    aspect-ratio: var(--width) / var(--height);
    margin-left: calc(var(--margin-left) * var(--canvas-scale));
    margin-top: calc(var(--margin-top) * var(--canvas-scale));
}


/* Individual Element Styles */
/* Individual Element Styles */
.A {
    --width: 410;
    --height: 313;
    --margin-left: 55;
    --margin-top: 0;
    background-color: aquamarine;
    z-index: 1; /* Bottommost */
}

.D {
    --width: 507;
    --height: 310;
    --margin-left: 196;
    --margin-top: 373;
    background-color: lightgreen;
    z-index: 2;
}

.G {
    --width: 545;
    --height: 397;
    --margin-left: 1070;
    --margin-top: 377;
    background-color: lightyellow;
    z-index: 3;
}

.B {
    --width: 751;
    --height: 431;
    --margin-left: 498;
    --margin-top: 70;
    background-color: lightcoral;
    z-index: 4;
}

.E {
    --width: 394;
    --height: 310;
    --margin-left: 0;
    --margin-top: 556;
    background-color: orange;
    z-index: 5;
}

.F {
    --width: 389;
    --height: 471;
    --margin-left: 563;
    --margin-top: 447;
    background-color: lightpink;
    z-index: 6;
}

.C {
    --width: 267;
    --height: 199;
    --margin-left: 1211;
    --margin-top: 12;
    background-color: lightblue;
    z-index: 7; /* Topmost */
}


/* Blueprint */
.blueprint {
    position: absolute;
    background-color: azure;
    width: 90vw;            
}

.blueprint img {
    width: 100%;            
    height: 100%;           
    object-fit: cover;   
}
