.navbar {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;

}

.navbar nav ul {
    font-size: 1.5rem;
    display: flex;
    list-style-type: none;
    padding: 0;

}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #000; 
    font-weight: bold;
}


.navbar nav ul li a:hover {
    color: #007BFF; 
    text-decoration: underline; 
    cursor: pointer; 
}

.navbar nav ul li a:active {
    color: #0056b3; 
    text-decoration: underline; 
}


@media (max-width: 768px) {
    .navbar nav ul {
        font-size: 1.2rem; 
    }
    .navbar nav ul li {
        margin: 0 10px; 
    }
}

@media (max-width: 480px) {
    .navbar nav ul {
        font-size: 0.8rem; 
    }
}