.navbar {
    height: var(--headingsize);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'JetBrains Mono', monospace; 
    padding: 0;
    margin: 0;
}

.navbar nav ul {
    font-size: 25px;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #000; 
    font-weight: bold;
}


.navbar nav ul li a:hover {
    color: #007BFF; 
    text-decoration: underline; 
    cursor: pointer; 
}

.navbar nav ul li a:active {
    color: #0056b3; 
    text-decoration: underline; 
}