/* Apply basic styling to the entire page */

body, html {
    line-height: 1.6;
    margin: 1%; 
    margin-top: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
} 


.container {
    max-width: 500px;
    margin: 20px auto;  


}


.container h1 {
    margin: 1px;

}
.container h2 {
    margin: 1px;

}

.container h3 {
    margin: 1px;

}
.container ul {
    margin: 1px;
    margin-bottom: 5px;
}
*, *::before, *::after {
    box-sizing: inherit;
}



